*{ -webkit-tap-highlight-color:transparent;outline:none; font-family:微软雅黑; color:#2f4257;}
body
{
	margin:0px;
	min-width:320px;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size:100%;
	font-family: consolas,"courier new",monospace,verdana;
}
h2 
{ 
	text-align: center; 
	border-bottom: 1px solid #dedede;
}
button{
	cursor: pointer;
}
.layout_left
{
	width: 15%;
	height: 100%;
	padding: 0;
	margin: 0;
	float: left;
	margin-left:10px; 
}
.layout_right
{	
	width: 80%;
	height: 100%;
	border-left: 1px #999 solid;
	padding: 3px;
	margin: 0;
	margin-left:6px;
	float: left;
}
.menu_list{

}
.layout_main_top{
	/*border: 1px #333 solid;*/
	padding: 6px;
	margin-bottom: 6px;
}
.main_header{
	font-weight: bold;
	height: 26px;
	padding: 2px 6px;
	background-color: #999;
}

.main_body{
	font-size: 200%;
	font-weight: 900;
	margin-top: 16px;
}

.methods_body{
	font-size: 100%;
	font-weight: 900;
	margin-top: 16px;
}
.layout_main_top .main_mod{
	min-height:180px;
	padding: 2px 6px;
}
.layout_main_top .main_mod .main_mod_left{
	width: 88%;
	float: left;
	overflow: hidden;
}
.layout_main_top .main_mod .main_mod_right{
	width: 10%;
	float: left;
	overflow: hidden;
}
.layout_main_middle{
	/*height:300px;*/
	/*border: 1px #333 solid;*/
	padding: 6px;
	margin-bottom: 6px
}
.layout_main_foot{
	height:300px;
	/*border: 1px #333 solid;*/
	padding: 6px;
	margin-bottom: 6px
}
.tbl_params{
	border: 0;
	width: 100%;
	margin: 6px 0;
	height: 100%:;
}
.tbl_params .thead_params tr td{
	height: 23px;
	text-align: left;
	font-weight: bolder;
	padding: 0;
	margin-left: 0;
	/*border: 1px solid #999;*/
	background: #d5e3e4;
}
.tbl_params .tbody_params tr td{
	height: 23px;
	text-align: left;
	font-weight: normal;
	padding: 0 16px;
	margin-left: 0;
	/*border: 1px solid #999;*/
	background: #ebecda;
}
.iframe_docbox{
	width: 100%;
	border: 0;
	padding: 3px;
}

span.note{
	color: #790;
}

.nav_name{display:block ; font-weight: bold;color: #494949;cursor: pointer;list-style: none;background: #c1c1c1;box-shadow:0 0 5px #000; height: 30px;line-height: 30px;padding-left: 10px;}
.nav_name:hover{text-decoration: none;}
.nav_name1{display:block ; text-decoration:none;font-weight: bold;color: #494949;cursor: pointer;list-style: none;background: #e1e1e1;box-shadow:0 0 5px #000; height: 30px;line-height: 30px;padding-left: 10px;}
.nav_name1:hover{text-decoration: none;}
.menu_list{list-style: none;}

.selecta{
	color:#00FF00;
	text-decoration: underline;
}